/* styles.css - by Mae Morella */
@import "https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.4/dist/reboot.min.css";
@import "https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css";

/* Layout */

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 1rem;
}

/* Colors and dark theme */

:root {
  --font-color: #000;
  --font-shadow-color: #fff;
  --link-color: #2a70b6;
  --link-highlight-color: #0f325f;
  --bg-color: #eee;
}

[data-theme="dark"] {
  --font-color: #fff;
  --font-shadow-color: #111;
  --link-color: #cd6;
  --link-highlight-color: #ef8;
  --link-white-color: #c1bfbd;
  --bg-color: #223;
}

body {
  color: var(--font-color);
  background: var(--bg-color);
  font: 1.2rem/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: var(--font-shadow-color) 0px 1px;
}

.color-fade {
  transition: 0.25s color, 0.25s background, 0.25s text-shadow;
}
code {
  text-shadow: initial;
}

/* Links */

a {
  color: var(--link-color);
  text-decoration: underline;
}
a:hover {
  color: var(--link-highlight-color);
}


/* Headings */

h1, h2, h3, h4, h5 {
  font-family: 'Times New Roman', Times, serif;
  /* font-style: italic; */
}

h1 {
  font-size: 3em;
    font-variant: small-caps;
  font-style: normal;
}

h2 {
  font-size: 2em;
  font-variant: small-caps;
}

h3 {
  font-size: 1.2em;
}

/* Header */

.header {
  text-align: center;
  border-bottom: 1px solid;
}

.footer {
  border-top: 1px solid;
  padding-top: 1rem;
  font-style: italic;
}

.profile-pic {
  border-radius: 100%;
  border: 1px solid;
  margin: 0 auto;
  margin-right: 1rem;
  filter: grayscale(1);
}

[data-theme="dark"] .profile-pic {
  transition: 0.25s filter;
  filter: grayscale(0);
}


.nav-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: space-evenly;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* Dark theme toggle */

@media only screen and (min-width: 30rem) {
  .theme-switch {
    position: fixed;
    right: 1rem;
  }
}