@import url(https://cdn.jsdelivr.net/npm/prism-theme-vars/base.css);

:root {
  --prism-foreground: #393a34;
  --prism-background: #fbfbfb;
  --prism-comment: #b8c4b8;
  --prism-string: #c67b5d;
  --prism-literal: #3a9c9b;
  --prism-keyword: #248459;
  --prism-function: #849145;
  --prism-deleted: #a14f55;
  --prism-class: #2b91af;
  --prism-builtin: #a52727;
  --prism-property: #ad502b;
  --prism-namespace: #c96880;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-json-property: #698c96;
}

[data-theme="dark"] {
  --prism-scheme: dark;
  --prism-foreground: #DBE9E7;
  --prism-background: #1C1D29;
  --prism-comment: #8589a1;
  --prism-string: #FFD76D;
  --prism-literal: #C39AC9;
  --prism-keyword: #FF657A;
  --prism-function: #BAD761;
  --prism-deleted: #a14f55;
  --prism-class: #5ebaa8;
  --prism-builtin: #BAD761;
  --prism-property: #dd8e6e;
  --prism-namespace: #c96880;
  --prism-punctuation: #9eaaa8;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
}